.mybutton{
    color: white;
    background-color: green;
    border-style: none;
    font-size: x-large;

    margin: 2px;
    padding: 10px;
    width: 200px;

   

    
    
}

.mybutton:hover{
    color: rgb(243, 223, 43);
    box-shadow: 10px 10px 3px rgb(6, 31, 11);
}